@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  :root {
    --background: 40 40 40;
    --scrollbar: 83, 83, 83;
    --text-yellow: 255 223 27;

    --background-gray-200: 79 84 74;

    --text-white-200: 169 169 169;
    --text-white-300: 228 228 228;
    --text-white-400: 221 221 221;
    --text-white-500: 255 255 255;

    --background-green-200: 38 255 190;
    --background-green-300: 0 223 169;
    --background-green-400: 18 110 81;
    --background-green-500: 24 70 61;
    --background-green-600: 63 77 50;
    --background-green-700: 88 88 88;
    --background-green-800: 55 66 58;

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 18 110 81;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 18 110 81;
    /* --primary-foreground: 222.2 47.4% 11.2%; */

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    pointer-events: auto !important;
  }
}

/* Custom scrollbar for Chrome */
body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--background));
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--scrollbar));
  height: 5px;
}

/* Custom scrollbar for Mozilla Firefox */
body {
  scrollbar-width: auto;
  scrollbar-color: rgb(var(--scrollbar)) rgb(var(--background));
}

body::-moz-scrollbar-track {
  background-color: rgb(var(--background));
}

body::-moz-scrollbar-thumb {
  background-color: rgb(var(--scrollbar));
}

/* bet slip modal content scrollbar */
#bet-slip-modal-content {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--scrollbar)) transparent;
}

#bet-slip-modal-content::-moz-scrollbar-track {
  background-color: rgb(var(--background));
}

#bet-slip-modal-content::-moz-scrollbar-thumb {
  background-color: rgb(var(--scrollbar));
}
